/* 폰트 */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
      format('woff');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff')
      format('woff');
    font-weight: 700;
    font-style: normal;
  }
/* rest */
body, h1, h2, h3, p {
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
h1, h2, h3 {
    font: inherit;
}
button:enabled {
    cursor: pointer;
}
img {
    max-width: 100%;
}
/* 실습 */
body {
    font-family: 'Pretendard-Regular', sans-serif;
  }
  .card {
    width: 288px;
    border-radius: 8px;
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.10);
  }
  .card header {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 16px 16px 12px;
  }

  .profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }

  .fwb {
    font-family: 'Pretendard-Bold';
    color: #29363D;
    font-size: 16px;
  }

  .small-font {
    font-size: 12px;
    color: #5a6a72;
  }

  /* 말주임 - 한줄 */
  
  .ell1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;  
  }

  .c-h-text {
    overflow: hidden;
  }

.ell2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1.6;
    height: calc(1em * 2 * 1.6);
}

  .thumbnail {
    width: 100%;
    aspect-ratio: 288/196;
    object-fit: cover;
  }

  .c-content {
    padding: 10px 20px 20px;
  }

  .c-content .ell2 {
    margin-bottom: 16px;
    line-height: 1.6;
  }

  .read {
    font-size: 14px;
    text-decoration: underline;
    padding: 3px 6px;
    position: relative;
  }

.card {
    position: relative;
}

.btn-group {
position: absolute;
bottom: 16px;
right: 16px;
padding: 0;
display: flex;
gap: 8px;
}

.btn-group button {
    border: 0;
    background: none;
    padding: 0;
}

.btn-group button img {
    width: 32px;
    vertical-align: top;
}