/* font */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
/* outline */
#outline {
    width: 92px;
    height: 42px;
    border: 2px solid #000;
    overflow: hidden;

}

/* inline */
.inline {
    width: 90px;
    height: 40px;
    border: 2px solid #000;
    border-style: outset;
    font-family: Pretendard-Regular;
    color: white;
    background-color: #343F50;
    display: flex;
    line-height: 40px;
    text-align: center;
    justify-content: center;

}

/* div로 감싸지 않고 border과, box-shadow inset 속성을 사용해보자 */
p {
    border: 2px solid #000;
    box-shadow: 2px 2px inset #4A5568;
    width: 92px;
    height: 42px;
    background-color: #343F50;
    font-family: Pretendard-Regular;
    color: white;
    line-height: 40px;
    text-align: center;
}